<!DOCTYPE html>

<html>

<head>
  <title>Cocktail Gallery</title>
  <meta charset="utf-8">

  <link href="dist/css/gallery.css" rel="stylesheet">
  <%= stylesheet_link_tag "gallery"%>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:200,400,700" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<style>

</style>


<body>
  <nav class="navbar">
    <div class="nav-item" style="font-family:'Romantic Beach'; font-size: 23px; font-weight: 300;">
        <%= link_to welcome_index_path do %>
            CockTailor
        <%end%>
    </div>
    <div class="nav-right">
        <div class="nav-item">
            <%= link_to new_gallery_path do %>
                칵테일 만들기
            <%end%>
        </div>
        <div class="nav-item">
            <%= link_to makeyourowns_recommendation_path do %>
                칵테일 추천
            <%end%>
        </div>
        <div class="nav-item">
            <%= link_to gallerys_path do %>
                칵테일 갤러리
            <%end%>
        </div>
    </div>
  </nav>

  <section id="gallery">
    <div class="container">
      <div class="section-title">
        <h1>칵테일 갤러리</h1>

        <p>여러분이 만든 칵테일을 살펴보세요</p>
      </div>

        <div class="search-container">
          <!--gallery start-->
          <%= form_tag gallerys_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search], :id=>'search-input' %>
              <%= submit_tag "검색", :title => nil, :form_class=> 'form', :class=>'button' %>
          <% end %>
        </div>

      <% if @galleries %>
        <div id="gallery-content">
          <% @galleries.each do |gallery| %>
            <div class="gallery-item">
              <%= link_to gallery do %>
                <figure class="fig">
                  <%= image_tag gallery.image.url unless gallery.image.nil? %>

                  <figcaption>
                    <div class="figure-title">
                      <p><%= gallery.title %></p>
                      <p class="figure-maker">BY<br/> <%= gallery.maker %></p>
                    </div>
                    <div class="description"><%= gallery.body %></div>
                  </figcaption>
                </figure>
              <%end%>
            </div>
          <%end%>
        </div>
      <%end%>

    </div>
  </section>

</body>

</html>
