<!DOCTYPE html>

<html>

<head>
  <title>Cocktail Gallery</title>
  <meta charset="utf-8">

  <link href="dist/css/gallery.css" rel="stylesheet">
  <%= stylesheet_link_tag "gallery"%>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:200,400,700" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<style>

</style>


<body>
  <nav class="navbar">
      <div class="nav-item" style="font-family:'Romantic Beach'; font-size: 23px; font-weight: 300;">
          <%= link_to welcome_index_path do %>
              CockTailor
          <%end%>
      </div>
      <div class="nav-right">
          <div class="nav-item">
              <%= link_to new_gallery_path do %>
                  칵테일 만들기
              <%end%>
          </div>
          <div class="nav-item">
              <%= link_to makeyourowns_recommendation_path do %>
                  칵테일 추천
              <%end%>
          </div>
          <div class="nav-item">
              <%= link_to gallerys_path do %>
                  칵테일 갤러리
              <%end%>
          </div>
      </div>
  </nav>
  <div class="show-container">
    <%if @gallery %>
      <div class="image">
        <%= image_tag @gallery.image.url %>
      </div>

      <div class="recipe">
        <div class="gallery-desc">
          <div class="title"><%= @gallery.title %><span class="maker"> - BY <%= @gallery.maker %></span></div>
          <div class="description"><%= @gallery.body %></div>
          <div class="title"></div>
        </div>
        <ul class="recipe-content"><%=raw @gallery.recipe %></ul>
      </div>
      <%= button_to "갤러리로 돌아가기" ,gallerys_path, :method => "get" , :class=>'button'%>
    <% end %>
  </div>
</body>
<script>
let baseRecipe = document.querySelector('.recipe-content').innerHTML;
let newbase = baseRecipe.substr(6, baseRecipe.length);
console.log(newbase);
document.querySelector('.recipe-content').innerHTML = newbase;
</script>

</html>
