<%#= link_to 'All gallerys', gallerys_path %>
<!--<h1><%#= @gallery.title %></h1>-->

<%#= image_tag(@gallery.image.url, alt: 'Image') if @gallery.image? %>

<!--<p><%#= @gallery.body %></p>-->

<!--<p><%#= link_to 'Edit', edit_post_path(@gallery) %></p>-->
<!--<-->

<!--왠지 나중에 하단의 주소를 쓸 수 있을 것 같다는 생각이 들었다.
https://stackoverflow.com/questions/8273410/how-to-add-class-to-an-image-tag-rails-helper
-->
<!DOCTYPE html>

<html>

<head>
  <title>Cocktail Gallery</title>
  <meta charset="utf-8">

  <link href="dist/css/gallery.css" rel="stylesheet">
  <%= stylesheet_link_tag "gallery"%>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<style>

</style>


<body>
<nav>
  <div class="nav-item">
    <a href="../index.html" style="font-family:'Romantic Beach', Cursive; font-size: 23px; font-weight: 300;">
      CockTailor</a>
  </div>
  <div class="nav-right">
    <div class="nav-item"><a href="makeyourown.html">칵테일 만들기</a></div>
    <div class="nav-item"><a href="recommendation.html">칵테일 추천</a></div>
    <div class="nav-item"><a href="gallery.html">칵테일 갤러리</a></div>
  </div>
</nav>
<div class="search-container">
<% form_tag gallerys_path, :method => 'get' do %>
  <p class>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil  %>
  </p>
<% end %>
</div>


<!--gallery start-->
<section id="gallery" class="light-bg">

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="section-title">
        <h2>칵테일 갤러리</h2>
        <p>여러분이 만든 칵테일을 살펴보세요</p>

      </div>
    </div>
    <div class="search-container">
    <%= button_to "모든 갤러리보기" ,gallerys_path, :method => "get" , :class=>'button'%>
    </div>
    <div id="gallery-content">
<%if @gallery %>

        <div class="gallery-item">
          <figure class="fig">
          
            <%= image_tag @gallery.image.url %>
            <figcaption>
              <div  class="figure-title">
              <p><%= @gallery.title %></p>
                <p class="figure-maker">BY</br> <%= @gallery.maker %></p>
              </div>
              <div class="description"><%= @gallery.body %></div>




            </figcaption>
          </figure>
        </div>

      <% end %>

    </div>
  </div>
</div>

</section>

<!--galleryfinish-->



</body>

</html>
