<%= link_to 'All gallerys', gallerys_path %>
<h1><%= @gallery.title %></h1>
 
<%= image_tag(@gallery.image.url, alt: 'Image') if @post.image? %>
 
<p><%= @post.body %></p>
 
<p><%= link_to 'Edit', edit_post_path(@post) %></p>
