<!DOCTYPE html>

<html>

<head>
    <title>Make your own</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "make" %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="nav-item"><a href="#" style="font-family:'Romantic Beach'; font-size: 23px; font-weight: 300;">CockTailor</a></div>
        <div class="nav-right">
            <div class="nav-item">
                <%= link_to makeyourowns_makeyourown_path do %>
                    칵테일 만들기
                <%end%>
            </div>
            <div class="nav-item">
                <%= link_to makeyourowns_recommendation_path do %>
                    칵테일 추천
                <%end%>
            </div>
            <div class="nav-item">
                <%= link_to makeyourowns_gallery_path do %>
                    칵테일 갤러리
                <%end%>
            </div>
        </div>
    </nav>

    <main>
        <div id="site-title">
            <div id="title-wrapper">
                <div id="title-text">CockTailor</div>
            </div>
            <div id="title-desc">당신의 개성에 맞게 직접 디자인한 칵테일, <span style="font-family:'Romantic Beach'">CockTailor</span>.</div>
        </div>

        <div id="navigate">
            <%= link_to makeyourowns_makeyourown_path do %>
                <div class="goto" id="goto-make">나만의 칵테일 만들기</div>
            <%end%>
            <%= link_to makeyourowns_recommendation_path do %>
                <div class="goto" id="goto-recc">칵테일 추천 받기</div></a>
            <%end%>
            <%= link_to makeyourowns_gallery_path do %>
                <div class="goto" id="goto-gallery">칵테일 갤러리</div>
            <%end%>
        </div>
    </main>
</body>

</html>